@import './colorAndFont.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $page-font;
}

body {
  background-color: $color-white;
  #root {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app__wrapper {
  background-color: $app-bg;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  display: flex;
}
