// Font
$page-font: 'Cabin', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

//Colors
$color-primery: #105e46;
$color-accent: #12805d;
$color-success: #02d693;
$color-light: #bfd1e5;
$color-tertiary: #60695c;
$color-dark: #1a1f16;
$color-placeholder: rgba(26, 31, 22, 0.5);
$color-white: #ffffff;
$color-danger: #e5252c;
$color-warrior: #e6d117;
$app-bg: rgba(26, 31, 22, 0.2);
$login-bg: rgba(255, 255, 255, 0.9);
